@font-face{
    font-family:'WYekan';
      src:url('/test/fonts/persian-fonts/WYekan.eot?#') format('eot'),
          url('/test/fonts/persian-fonts/WYekan.woff') format('woff'),
          url('/test/fonts/persian-fonts/WYekan.ttf') format('truetype');
}

*{
    font-family:'WYekan';
}
button#m_login_signin_submit{
    font-family:'WYekan';
}
